.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
  }
  
  .backdrop img {
    display: block;
    max-width: 60vw;
    max-height: 60vh;
    margin: 60px auto;
    box-shadow: 3px 5px px rgba(0, 0, 0, 0.7);
    border: 2px solid white;
  }
  